.btn-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    transition: background-color 0.3s ease;
}

.cantidad {
    margin: 0;
}

.eliminar {
    margin: 0 auto;
    cursor: pointer;
    width: 42px;
    height: 42px;
    font-size: 2.2em;
}

.eliminar:hover {
    color: red;
}

.carrito-vacio {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-top: 2em;
}

.vaciar-carrito {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

.vaciar-carrito i {
    margin-right: 5px;
}

.finalizar-compra{
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

.contenedor-btn{
    margin-top: 1.5em;
    display: flex;
    gap: 1.5em;
    margin-bottom: 1em;
    justify-content: center;
    align-items: center;
}